.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(21, 184, 75);
    border-color: #333 transparent #333 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.h1,h4 {
    position: relative;
    color: #454789;
    font-size: 50px;
    line-height: 64px;
    font-weight: 600;
    margin-bottom: 28px;
}
p{
  color:  #c7ad0e;
}

p#heading42 svg {
    color: #c7ad0e;
}  
.btn-style-four {
  position: relative;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  padding: 12px 35px;
  border-radius: 3px;
  background-color: #7478fa;
  text-transform: capitalize;
}
.btn-style-four:hover {
  color: #fff;
  background-color: #222;
}
.sociallink a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #fff;
    font-size: 20px;
    color: #2A4B75;
}

.card {
  background: rgba(255,255,255,0.7);
}
